@media only screen and (max-width: 600px){
    .work-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        padding: 15px;
        margin: 0 15px;
    }
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.5;
    background-color: #FBFEF9;
}
h1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 22px;
    font-style: normal;
}
p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 16px;
}
button {
    display: inline-block;
    background-color: #34a0a4;
    border: none;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-style: normal;
    padding: 12px;
    border-radius: 6px;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover{
    border: 1px solid #0077b6;
}
/* NAVIGATION */
.inline-block{
    padding: 15px;
    background-color: #B9CFBA;
    overflow: hidden;
}
.inline-block ul{
    float: right;
}
.inline-block li{
    display: inline-block;
    padding: 0px 20px;
}
.inline-block a {
    color: black;
}
/* FLEXBOX */
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left, .right {
    text-align: center;
}
/* HERO */
.heroImg{
    background-color: #B9CFBA;
    padding: 100px 15px;
}
.heroImg .left {
    width: 35vw;
}
/* SKILLS */
.my-skills li{
    list-style-type: none;
}
.my-skills h1{
    text-decoration: underline;
}
.my-skills .right, .my-skills .left {
    width: 25vw;
}
.my-skills .right{
    text-align: left;
}
.vl {
    border-left: 4px solid #384D0C;
    height: 50vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 10px;
}
/* WORK */
.my-work h1 {
    text-align: center;
}
.work-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    padding: 15px;
    margin: 0 15px;
}
.grid-item{
    border: none;
    padding: 15px;
    border-radius: 12px;
}
.grid-item img{
    justify-content: center;
    width: 300px;
    height: 339px;
    object-fit: contain;
}
#cs1{
    background-color: #FD7748;
}
#cs2{
    background-color: #F8D941;
}
#cs3{
    background-color: #FD9F9D;
}
/* PROCESS */
.my-process{
    padding: 0 30px;
}
/* TOOLS & LANGUAGES */
.my-tools{
    margin: 10px 30px;
    background-color: #FCA17D;
    
}
.my-tools .left, .my-tools .right{
    text-align: left;
}
/* ABOUT */
#about .left, #about .right{
    padding: 20px;
    width: 35vw;
    text-align: left;
}
/* HOBBIES */
.my-hobbies h1{
    padding: 15px;
    margin: 20px 15px;
    line-height: 0;
}
.my-hobbies .grid-item{
    text-align: center;
}
/* FOOTER */
footer {
    padding: 5px;
    margin: 10px 30px;
}
.contact{
    text-align: center;
    background-color: #F8D941;
}
footer ul{
    list-style: none;
    padding-left: 5px;
}
footer li {
    display: inline-block;
    padding: 0px 7px;
    background-color: white;
}

